body{
  background-color:white;
  margin:auto;
  font-family: sans-serif;
  font-size: 95%;
  font-weight: 100;
  padding: 20px;

}

nav{
  padding: 10px 0 0 10px;
}

nav ul{
  margin: 0 0 10px 75%;
}

nav li{
  display: inline;
  margin:0 10px;
  list-style:none;
  color: black;
  background-color:white;
}

nav li:hover{
  margin: 0 9px;
  border: 1px dashed black;
}

h1{
  color: white;
  background-color: red;
  padding: 10px;
  width: auto;
  margin: 0;
}

#itemImage {
  width: 400px;
  height: 400px;
  border-radius:10px;
  float: left;
  margin: 0 50px 0 0;
}

#listing{
  margin: 40px auto 0 auto;
  width: 1000px;
}

#itemInfo{
  height: 100px;
  margin: 40px auto 0 10px;
  list-style: none;
  padding: 10px;
}

#itemInfo ul{
  margin: 0;
  padding: 0;
}

#itemInfo li {
  margin: 10px 0;
}

#description {
    padding: 20px 0 0 0;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#box{
  margin: auto;
  width: 1000px;
}
	  
#menu{
  margin: 5px
}
	  
form{
  margin-right: 40px;
}
	  
.forform{
    margin:10px;
    line-height:40px;
}
	  
.inside{
	margin: 10px 40px 15px 30px;
}

.forforminside{
    line-height:40px;
    margin-top: 15px;
}
	  
#up{
  text-align:right;
  margin: 30px 70px 40px 10px;
}

#navbar{
  position:fixed;	
  right: 0;
  top: 25%;
}

#navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
      
#navbar a{
  text-decoration:none;
  color:#000;
}  
      
#navbar a:hover {
  color: #888888;
} 
      
#navbar ul li{
  float: left; 
  text-align:center;
  width:185px;
  height:30px;
  display:inline-block;
  position:relative;
  line-height:40px;
  border-style:solid;
  margin:3px;
}
      
#navbar li ul{
  display:none;
  position:absolute;
  top:100%;
}
      
#navbar li ul li{
  text-align:center;
  background-color:#FFFFFF;
  width:180px;
  line-height:30px;
  margin:5px 0 0 0;
}
      
#navbar li:hover ul{

	display:block;
}

footer{
  margin-top: 30px; 
    text-align: center;
}

/*login*/
.formData{
  line-height:40px;
}
.submited{
  margin-top:15px;
}

p{
  text-align: justify;
}

#thank{
	text-align: center;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

#thank button{
	width: 100px;
	margin: 0 450px;
}

#seller{
    margin: 190px 300px 300px 300px;
}

#reviews{
    float: right;
}
