body{
	font-family: Segoe UI;
	background-color:white;
	padding: 0;
}

nav{
	padding: 10px;
}

ul{
	margin: 0 0 10px 75%;
}

nav li{
	display: inline;
	margin:0 10px;
    list-style:none;
    color: black;
}

header{
	margin-left: 100px;
}

h1{
	color: white;
	background-color: red;
	padding: 10px;
	width: auto;
}

img {
    width: 400px;
    height: 400px;
}